/* start utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* scrollbar */
::-webkit-scrollbar {
    width: 20px;
}
  /* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}  
  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: #888; 
}
  /* / scrollbar */
li:hover a{
color: white;
}
.border-b:hover a{
    color: white;
}
a{
    text-decoration: none;
    color: grey;
}
.hidden{
    display: none;
}
.f-size{
    font-size: 15px;
}
.t-grey{
    color: grey;
}
.t-white{
    color: white;
}
.mg-t2{
    margin-top: 2%;
}
.pd-t2{
    padding-top: 2%;
}
.mg-t5{
    margin-top: 5%;
}
.mg-b10{
    margin-bottom: 10%;
}
.mg-b20{
    margin-bottom: 20%;
}
.mg-b5{
    margin-bottom: 5%;
}
.mg-b2{
    margin-bottom: 2%;
}
.mg-b1{
    margin-bottom: 1%;
}
.mg-r5{
    margin-right: 5%;
}
.mg-l5{
    margin-left: 5%;
}
.pd-r10{
    padding-right: 10%;
}
.flex{
    display: flex;
}
.t-align-center{
    text-align: center;
}
.align-center{
    align-items: center;
}
.alignself-center{
    align-self: center;
}
.display-ib{
    display: inline-block;
}
.display-i{
    display: inline;
}
.vertical-middle{
    vertical-align: middle;
}
.border-b{
    border-bottom: 1px solid grey;
    width: 90%;
}
.greenborder{
    border: 1px solid lightgreen;
    width: 35%;
    margin: auto;
}
.w-10{
    width: 10%;
}
.w-15{
    width: 15%;
}
.w-20{
    width: 20%;
}
.w-30{
    width: 30%;
}
.w-40{
    width: 40%;
}
.w-60{
    width: 60%;
}
.w-70{
    width: 70%;
}
.w-80{
    width: 80%;
}
.w-85{
    width: 85%;
}
.w-90{
    width: 90%;
}
.w-95{
    width: 95%;
}
.w-100{
    width: 100%;
}
.overflow{
    overflow-y:auto;
}
.border-radius{
    border-radius: 50%;
}
.f-size12{
    font-size: 12px;
}
.flex-grow{
    flex-grow: 1;
}
/* finish utility */
/******************* main section********************/
main{
    width: 100%;
    flex-wrap: wrap;
}
.left{
    width: 230px;
    
}
.right{
    width: calc(100% - 230px);
}
/* start nav section */
nav{
    background-color: black;
    height: calc(100% - 100px);
}
.n-section{ 
    flex-direction: column;
    margin-left: 10%;
    height: 100%;
}
#logo img{
    width: 50%;
}
.n-section ul li{
    list-style: none;
    margin-bottom:5%;
}
.n-section img{
    width: 10%;
}
.n-section .icon span{
    vertical-align: super;
}
.create{
    background-color: grey;
    color: black;
    text-align: center;
    padding: 10px;
}
.create:hover{
    background-color: white;
}
.create i{
    font-size: 20px;
}
.profile{
    width: 100%;
}
.profile img{
    width: 100%;
}
.border-r{
    border: 1px solid grey;
    border-radius: 50%;
    padding: 3px;
    background-color: grey;
}
.display-content{
    display:contents;
}
/* finish nav section */

/* start header section */
header{
    position: absolute;         
    top: 0;
    right: 0;
    width: calc(100% - 230px);
    height: 100px;
    background-color: rgba(0,0,0, 0.5);
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
}
.header-section .btn{
    margin-right: 25px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 1% 2%;
    text-decoration: none;
}
.header-section:hover .btn{
    transform: scale(1.1);
}
/* finish header section */
/* start content section */
.content{
    padding-top: 80px;
    width: 100%;
    height: 90vh;
    background-color: hsl(219deg 26% 11%);
}
.content-nav{
    width: 100%;
    text-align: center;
}
.content-nav ul li{
    margin-right: 3%;
    display: inline-block;
    list-style: none;
}
.gallery{
    flex-wrap: wrap;
}
.conteiner{
    margin: auto;
}
.box{
    margin-right: 15px;
    width: calc(100% / 6 - 15px);
}
.box .w-100{
    position: relative;
}
.box img{
    width: 100%;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
.box:hover img{
    opacity: 0.3;
  }
.box:hover .middle{
    opacity: 1;
}
.text {
    font-size: 50px;
  }
/* finish content section */
/* start footer section */
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: hsl(0deg 0% 16%);
}
.icon-conteiner{
    display: inline-flex;
}
.f-section{
    height: 100%;
    justify-content: space-between;
}
.song,.advice,.time{
    height: 100%; 
}
.song{
    height: 90%;
    margin: auto;
    justify-content: space-between;
} 
.song-img{
    height: 62%;
    margin: 5%;
   
}
.song .w-20{
    text-align: right;
}
.song i:hover{
    color: white;
}
.song a:hover{
    text-decoration: underline;
    color: white;
}
.time{
    justify-content: center;
    flex-wrap: wrap;
}
.time .icon{
    font-size: 25px;
}
i.fa-circle-play{
    font-size: 30px;
}
i.fa-circle-play:hover{
    transform:scale(1.2)
}
.minute{
    font-size: 15px;
}
.advice{
    justify-content: center;
    align-items: center;
}
.volume-bar{
    font-size:0px;
}
.volume-bar-white{
    text-align: -webkit-right;
    background-color: white;
    height: 5px;
    font-size: 10rem;
    justify-content: flex-end;
    align-items: center;
    
}
.volume-bar-black{
    background-color: grey;
    height: 5px;
    font-size: 10rem;
}
.volume-bar:hover .w-20{
    background-color:lightgreen;   
}
.volume-bar-white:hover .circle{
    visibility: visible;  
}
.circle{
    background-color: white;
    width: 12px;
    height: 13px;
    border: 1px solid green;
    border-radius: 50%;
    visibility: hidden;
}
/* finish footer section */
/* media queries*/
@media screen and (min-width:1000px) and (max-width:1499px){
    .time{
        width: 85%;
    }
    .song,.advice{
        width: 15%;
    }
}

@media screen and (min-width:800px) and (max-width:970px){
    .box{
        width: calc(100% / 4 - 15px);
    }
}
@media screen and (min-width:580px) and (max-width:799px){
    .box{
        width: calc(100% / 2 - 15px);
    }
}
@media screen and (max-width:579px){
    .left{
        width: 50px;
    }
    .right{
        width: calc(100% - 50px);
    }

    .box{
        width: calc(100% / 2 - 15px);
    }
    .n-section{
        display: none;
    }
    #show{
        display:flex;
        width: 100%;
        height: 100%;
    }
    #show .w-80 img{
        margin-bottom: 10px;
    }
    header{
        width: calc(100% - 50px);
    }
}
