/* start utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* finish utility */
.f-size{
    font-size: 15px;
}
.t-grey{
    color: grey;
}
.t-white{
    color: white;
}
.mg-t5{
    margin-top: 5%;
}
.mg-b10{
    margin-bottom: 10%;
}
.mg-b5{
    margin-bottom: 5%;
}
.mg-r5{
    margin-right: 5%;
}
.pd-r10{
    padding-right: 10%;
}
.flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.alignself-center{
    align-self: center;
}
.display-ib{
    display: inline-block;
}
.display-i{
    display: inline;
}
.vertical-middle{
    vertical-align: middle;
}
.border-b{
 border-bottom: 1px solid grey;
 width: 90%;
}
.w-10{
    width: 10%;
}
.w-20{
    width: 20%;
}
.w-30{
    width: 30%;
}
.w-60{
    width: 60%;
}
.w-70{
    width: 80%;
}
.w-90{
    width: 90%;
}
/******************* main section********************/
main{
    flex-wrap: wrap;
    width: 100%;
}
/* start nav section */
nav{
    width: 20%;
    height: 90vh;
    border: 2px solid blue;
    background-color: black;
}
.n-section{ 
    flex-direction: column;
    margin-left: 10%;
    justify-content: space-between;
    height: 100%;
}
#logo img{
    width: 50%;
}
.n-section ul li{
    list-style: none;
    margin-bottom:5%;
}
.n-section img{
    width: 10%;
}
.n-section .icon span{
    vertical-align: super;
}
.create{
    background: grey;
    color: black;
    width: 15%;
    text-align: center;
    padding: 10px;
}
.create i{
    font-size: 20px;
}
.profile{
    width: 100%;
}
.profile img{
    width: 100%;
}
.border-r{
    border: 1px solid grey;
    border-radius: 50%;
    padding: 3px;
    background-color: grey;
}
/* finish nav section */

/* start header section */
header{
    width: 80%;
    height: 10vh;
    background-color: black;
    border: 2px solid red;
    justify-content: flex-end;
    align-items: center;
}
.header-section a{
    border: 1px solid white;
}
.header-section .btn{
    border: 1px solid white;
    border-radius: 20px;
    padding: 1% 2%;
    text-decoration: none;
}
/* finish header section */
/* start content section */
.content{
    width: 80%;
    height: 80vh;
    background-color: hsl(219deg 26% 11%);
    border: 2px solid yellow;
}
/* finish content section */
/* start footer section */
footer{
    width: 100%;
    height: 10vh;
    background-color: hsl(0deg 0% 16%);
    border: 2px solid purple;
}
.f-section{
    height: 100%;
    justify-content: space-between;
}
.song,.advice,.time{
    height: 100%;
    border: 2px solid yellow;
}
.song{
    height: 90%;
    margin: auto;
    justify-content: space-between;
} 
.song-img{
    height: 62%;
    margin: 5%;
}
.song .w-20{
    text-align: right;
}
/* finish footer section */